<!-- Admin Panel Section -->
<div id="adminPanel">
  <!-- Admin List Section -->
  <section class="container" id="adminsListSection">
    <ul id="adminList">
      <!-- Loop through each administrator -->
      {{#each adminsList}}
        <li id="anAdmin">
          <!-- Display admin username -->
          <h2>{{this.username}}</h2>
            <!-- If user is not admin, provide login link -->
            <a href="/adminLogin?userId={{this._id}}">Login</a>
        </li>
      {{/each}}
    </ul>
  </section>
</div>
