<!-- Admin Login Section -->
<section class="container" id="adminLoginForm">
  <header>
    <!-- Display login title -->
    <h1>{{title}}</h1>
  </header>
  <aside class="login container" id="login-container">
    <!-- Admin Login Form -->
    <form method="post" id="adminLoginInfo">
      <fieldset>
        <!-- Email Input Field -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="username" value="{{this.username}}" required />
      </fieldset>
      <fieldset>
        <!-- Password Input Field -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </fieldset>
      <!-- Submit Button -->
      <button type="submit">
        <!-- Button Text -->
        <h2>Login</h2>
      </button>
    </form>
    <!-- Google OAuth login link -->
    <a href="/auth/google" id="googleSignin">Login with Google</a>
  </aside>
</section>
