<!-- Landing page section -->
<section class="landing-page-effect" id="index">
  <h1>{{title}}</h1>
  <!-- Background audio -->
  <audio autoplay>
    <source src="/audio/myinstants.mp3" type="audio/mpeg">
  </audio>
  <!-- Start button -->
  <button id="startBtn"><h2><a href="/playerInfoForm">Start</a></h2></button>
</section>
